:root {
  /* Colors */
  /* Charcoal */
  --main-primary: #63605A;
  /* Dark Charcoal */
  --main-secondary: #252422;
  /* Orange */
  --accent-primary: #E66D1C;
  /* Dark Orange */
  --accent-primary-dark: #E05D05;
  /* Blue */
  --accent-secondary: #1A6C96;
  /* Light Blue */
  --accent-secondary-light: #8EB6C6;
  /* Grey */
  --background: #CCC9C1;
  /* Lighter Grey */
  --background-light: #D7D5CE;
  /* Lightest Grey */
  --background-accent: #ebebeb;
  /* Dark Grey */
  --pre-header-dark: #4B4B4B;
  /* Light Grey */
  --pre-header-light: #C9C9C9;
  /* Black */
  --font-main: #333333;
  /* White */
  --font-overlay: #FFFFFF;
  /* Grey */
  --font-menu: #CCC9C1;
  /* Font Families */
  --font-basic: Arial, Helvetica, sans-serif;
  --font-body: 'Open Sans', 'Trebuchet MS', sans-serif;
  --font-titles: 'Playfair Display', Palatino, serif;
  --font-line-height: 14px;
  /* Responsive queries

 mobile less than 740 */
  /* more than 600 */
  --tablet: 600px;
  /* more than 740 */
  --tablet-header: 740px;
  /* more than 1011 */
  --desktop: 1011px;
}

/* START global responsive styles */

#breadcrumbs {
  display: none
}

.left-nav {
  display: none;
}

#__enclosingtable {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: block;
}

#__enclosingtable tbody {
  display: block;
}

#__enclosingtable #handle_itemMainPortlet {
  display: block;
  width: 100% !Important;
}

body {
  background-color: white;
  min-width: 0 !important;
}

.infopage_content {
  width: 100%
}

#div__body {
  width: auto !important;
  padding: 0 !important;
}

.portletHandle td, .portletHandle tr, .portletHandle table, .portletHandle tbody {
  display: block;
}

div {
  font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
}

/* START one-image-text template */

#one-image-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#one-image-text h3 {
  font-size: 24px;
  margin: 25px;
  text-transform: uppercase;
}

#one-image-text p {
  font-size: 18px;
  margin: 25px
}

#one-image-text img {
  width: 80%;
  background-color: #ebebeb;
  background-color: var( --background-accent);
  margin: 20px;
}

@media only screen and (min-width: 740px) {
  /* START one-image-text template */
  #one-image-text {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  #one-image-text img {
    width: 40%;
    max-width: 350px;
  }
  .text-container {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  /* START one-image-text template */
  #one-image-text img {
    width: 30%;
    max-width: 500px;
    margin: 20px;
  }
}

/* END one-image-text template */

/* START three-img template */

#three-img-temp {
  margin: 40px 20px;
}

#three-img-temp h3, #three-img-temp h4 {
  text-transform: uppercase;
}

#three-img-temp h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

#three-img-temp h4, #three-img-temp p {
  font-size: 18px;
  
}
#three-img-temp p {
  margin: 20px 0px;
  line-height: 20px;
}

#three-img-temp img {
  width: 100%;
  background-color: var( --background-accent);
  background-color: #ebebeb;
  margin-bottom: 20px;
}

#three-img-temp .img-text-container {
  margin-bottom: 40px;
}

#three-img-temp .img-text-container button {
  display: none;
}

@media only screen and (min-width: 740px) {
  #three-img-temp .three-img-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
  }
  #three-img-temp h3 {
    width: 100%;
  }
  #three-img-temp .img-text-container {
    width: 320px;
  }
  #three-img-temp .read-more-container {
    overflow: hidden;
    max-height: 300px;
  }
  #three-img-temp .img-text-container button {
    display: none;
  }
  #three-img-temp .img-text-container.read button {
    display: block;
  }
  #three-img-temp .img-text-container.more .read-more-container {
    overflow: unset;
    max-height: unset;
  }
}

@media only screen and (min-width: 1011px) {
  #three-img-temp .three-img-text {
    width: 100%;
    max-width: 1090px;
  }
  #three-img-temp .img-text-container {
    width: 300px;
  }
  #three-img-temp .img-text-container.read button {
    display: none;
  }
  #three-img-temp .img-text-container .read-more-container {
    overflow: unset;
    max-height: unset;
  }
}

/* END three-img template */

/* START read more button */

.read button {
  background-color: white;
  border: none;
  color: #E66D1C;
  color: var(--accent-primary);
  text-transform: uppercase;
  cursor: pointer;
  padding: unset;
  font-size: 15px;
  margin: 5px 0px;
}

button:focus {
  outline: 0;
}

/* END read more button */