<!-- START TWO LARGE IMAGE TEMPLATE -->
<!-- make sure the images you choose are the same width/height, otherwise it will look weird -->
<div id="four-img-template">
    <h2 class='header'>Place Section Title Heere</h2>
    <div class='center-container'>

      <!-- First Gallery Set -->
      <div class='text-img-container'>
        <img src='https://dev.woodlanddirect.com/learningcenter/pagebuilder+/svgs/placeholder-img-grey.svg'>
        <h3 class='subheader'>Place info item title here</h3>
        <p class='body-text'>place paragraph text here</p>
      </div>

      <!-- Second Gallery Set -->
      <div class='text-img-container'>
        <img src='https://dev.woodlanddirect.com/learningcenter/pagebuilder+/svgs/placeholder-img-grey.svg'>
        <h3 class='subheader'>Place info item title here</h3>
        <p class='body-text'>place paragraph text here</p>
      </div>

      <!-- Third Gallery Set -->
      <div class='text-img-container'>
        <img src='https://dev.woodlanddirect.com/learningcenter/pagebuilder+/svgs/placeholder-img-grey.svg'>
        <h3 class='subheader'>Place info item title here</h3>
        <p class='body-text'>place paragraph text here</p>
      </div>

      <!-- Fourth Gallery Set -->
      <div class='text-img-container'>
        <img src='https://dev.woodlanddirect.com/learningcenter/pagebuilder+/svgs/placeholder-img-grey.svg'>
        <h3 class='subheader'>Place info item title here</h3>
        <p class='body-text'place paragraph text here</p>
      </div>
    </div>
  </div>
<!-- END TWO LARGE IMAGE TEMPLATE -->