<!-- START FOUR IMAGE TEMPLATE -->
<!-- make sure the images you choose are the same width/height, otherwise it will look weird -->
<div id="four-img-template">
  <h2 class='header'>Place Section Title Heere</h2>
  <div class='center-container'>

    <!-- First Gallery Set -->
    <div class='text-img-container'>
      <img src='https://dev.woodlanddirect.com/learningcenter/pagebuilder+/svgs/placeholder-img-grey.svg' alt=''>
      <h3 class='subheader'>Place info item title here</h3>
      <div class='read-more-container'>
        <!-- Add or remove paragraph tags below -->
        <p class='body-text'>place paragraph text here</p>
        <!-- End of paragraph tags -->
      </div>
      <button onclick='showMore(this)'>read more</button>
    </div>

    <!-- Second Gallery Set -->
    <div class='text-img-container'>
      <img src='https://dev.woodlanddirect.com/learningcenter/pagebuilder+/svgs/placeholder-img-grey.svg' alt=''>
      <h3 class='subheader'>Place info item title here</h3>
      <div class='read-more-container'>
        <!-- Add or remove paragraph tags below -->
        <p class='body-text'>place paragraph text here</p>
        <!-- End of paragraph tags -->
      </div>
      <button onclick='showMore(this)'>read more</button>
    </div>

    <!-- Third Gallery Set -->
    <div class='text-img-container'>
      <img src='https://dev.woodlanddirect.com/learningcenter/pagebuilder+/svgs/placeholder-img-grey.svg' alt=''>
      <h3 class='subheader'>Place info item title here</h3>
      <div class='read-more-container'>
        <!-- Add or remove paragraph tags below -->
        <p class='body-text'>place paragraph text here</p>
        <!-- End of paragraph tags -->
      </div>
      <button onclick='showMore(this)'>read more</button>
    </div>

    <!-- Fourth Gallery Set -->
    <div class='text-img-container'>
      <img src='https://dev.woodlanddirect.com/learningcenter/pagebuilder+/svgs/placeholder-img-grey.svg' alt=''>
      <h3 class='subheader'>Place info item title here</h3>
      <div class='read-more-container'>
        <!-- Add or remove paragraph tags below -->
        <p class='body-text'>place paragraph text here</p>
        <!-- End of paragraph tags -->
      </div>
      <button onclick='showMore(this)'>read more</button>
    </div>
  </div>
</div>
<!-- END FOUR IMAGE TEMPLATE -->