<div id='gallery-template' class='background'>
    <div class='container'>
      <div class='button-section'>
        <h2>Place Section Title Here</h2>
        <div id='selection-container-btn'>
          <button id='selected-gallery' class='dropdown-button active'></button>
          <!-- Buttons will generate here on load -->
        </div>
      </div>
      <div class='gallery-section'>
        <h3 class='info-header title-center-mobile'>
          <!-- Info header will generate here -->
        </h3>

        <div id='image-container'>
          <!-- Images will generate here on load -->
        </div>
        <div id='bullet-container'>
          <!-- Bullets will generate here on load -->
        </div>
      </div>
      <div class='info-section'>
        <h3 class='info-header title-desktop'>
          <!-- Info header will generate here -->
        </h3>
        <p id='info-body'>
          <!-- Info body will generate here -->
        </p>
      </div>
    </div>
  </div>
  <script id='galleries' type='application/json'>
      {
        "Gallery Name 1": [
          {
            "galleryButtonAriaLabel": "add aria-label for button here",
            "infoTitle": "place info section title here",
            "infoText": "place info body text here"
          },
          {
            "imageSource": "https://via.placeholder.com/700",
            "altTag": "alt tag text here",
            "selected": true
          },
          {
            "imageSource": "https://via.placeholder.com/500",
            "altTag": "alt tag text here",
            "selected": false
          },
          {
            "imageSource": "https://via.placeholder.com/600",
            "altTag": "alt tag text here",
            "selected": false
          }
        ],
        "Gallery Name 2": [
          {
            "galleryButtonAriaLabel": "Read more on item",
            "infoTitle": "place info item here 2",
            "infoText": "Duis pretium risus eu mauris iaculis, in vehicula elit cursus. Proin condimentum, nisl eu dignissim posuere, tellus nulla eleifend massa, eu consectetur lectus ex nec leo. Maecenas ornare lacus quis eros rhoncus, sed aliquam sem rhoncus. <br><br> Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce laoreet enim venenatis turpis facilisis vestibulum. Pellentesque in laoreet ante."
          },
          {
            "galleryButtonAriaLabel": "Read more on item 3",
            "imageSource": "https://via.placeholder.com/100",
            "altTag": "alt tag text here",
            "selected": true
          },
          {
            "imageSource": "https://via.placeholder.com/200",
            "altTag": "alt tag text here",
            "selected": false
          },          {
            "imageSource": "https://via.placeholder.com/200",
            "altTag": "alt tag text here",
            "selected": false
          },
          {
            "imageSource": "https://via.placeholder.com/300",
            "altTag": "alt tag text here",
            "selected": false
          }
        ],
        "Gallery Name 3": [
          {
            "galleryButtonAriaLabel": "Read more on item",
            "infoTitle": "place info item here 3",
            "infoText": "Nam imperdiet tempor semper. Sed dignissim est ut libero iaculis, sit amet mattis nisi eleifend. Donec at lacus accumsan, tincidunt lacus nec, porta velit. Pellentesque quis tellus eu dui porta consequat ac sed leo. <br><br>Morbi sed sapien sed risus porta ullamcorper ut a mi. Nunc scelerisque dignissim ipsum, vel suscipit odio auctor sed. Nunc fermentum eget odio ut egestas. Nunc aliquam, nibh a vulputate finibus, odio sem egestas urna, quis tempus felis nulla sed libero."
          },
          {
            "galleryButtonAriaLabel": "Read more on item",
            "imageSource": "https://via.placeholder.com/100",
            "altTag": "alt tag text here",
            "selected": true
          },
          {
            "imageSource": "https://via.placeholder.com/300",
            "altTag": "alt tag text here",
            "selected": false
          }
        ],
        "Gallery Name 4": [
          {
            "galleryButtonAriaLabel": "Read more on item",
            "infoTitle": "place info item here 4",
            "infoText": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore fugiat aspernatur maiores. Ex, ipsum."
          },
          {
            "galleryButtonAriaLabel": "Read more on item",
            "imageSource": "https://via.placeholder.com/1000",
            "altTag": "alt tag text here",
            "selected": true
          },
          {
            "imageSource": "https://via.placeholder.com/200",
            "altTag": "alt tag text here",
            "selected": false
          },
          {
            "imageSource": "https://via.placeholder.com/300",
            "altTag": "alt tag text here",
            "selected": false
          }
        ]
      }
  </script>

